.main-contents
  .upload-contents
    %h2.upload-contents__title 最近のアップロード履歴

    .quotation__recent
      .quotation__recent--title 見積書
      - if @recent_quotations.present?
        %ul.quotation__list
          - @recent_quotations.each do |recent_quotation|
            .quotation__list--all
              = link_to quotation_path(recent_quotation.id) do
                .quotation__list--nav
                  %li.quotation__list--name
                    = recent_quotation.name
                  %li.quotation__list--date 
                    = "作成日：#{recent_quotation.created_at.strftime('%Y/%m/%d')}"
      - else
        .quotation__notice 見積書の登録はありません
    
    .minute__recent
      .minute__recent--title 議事録
      - if @recent_minutes.present?
        %ul.minute__list
          - @recent_minutes.each do |recent_minute|
            .minute__list--all
              = link_to minute_path(recent_minute.id) do
                .miniute__list--nav
                  %li.minute__list--name
                    = recent_minute.name
                  %li.minute__list--date 
                    = "作成日：#{recent_minute.created_at.strftime('%Y/%m/%d')}"
      - else
        .minute__notice 議事録の登録はありません

    .other__recent
      .other__recent--title その他
      - if @recent_others.present?
        %ul.other__list
          - @recent_others.each do |recent_other|
            .other__list--all
              = link_to other_path(recent_other.id) do
                .other__list--nav
                  %li.other__list--name
                    = recent_other.name
                  %li.other__list--date 
                    = "作成日：#{recent_other.created_at.strftime('%Y/%m/%d')}"
      - else
        .other__notice その他の登録はありません

  .important-contents
    %h2.important-contents__title ブックマーク書類の一覧

    .quotation__bookmark
      .quotation__bookmark--title 見積書
      - if @quotations.present?
        %ul.quotation__list
          - @quotations.each do |bookmark_quotation|
            .quotation__list--all
              %li.quotation__list--bookmark
                = icon('fas', 'bookmark fa-2x')
            = link_to quotation_path(bookmark_quotation.id) do
              .quotation__list--nav
                %li.quotation__list--name
                  = bookmark_quotation.name
                %li.quotation__list--date 
                  = "作成日：#{bookmark_quotation.created_at.strftime('%Y/%m/%d')}"
      - else
        .quotation__notice bookmarkの登録はありません

    .minute__bookmark
      .minute__bookmark--title 議事録
      - if @minutes.present?
        %ul.minute__list
          - @minutes.each do |bookmark_minute|
            .minute__list--all
              %li.minute__list--bookmark
                = icon('fas', 'bookmark fa-2x')
            = link_to minute_path(bookmark_minute.id) do
              .minute__list--nav
                %li.minute__list--name
                  = bookmark_minute.name
                %li.minute__list--date 
                  = "作成日：#{bookmark_minute.created_at.strftime('%Y/%m/%d')}"
      - else
        .minute__notice bookmarkの登録はありません

    .other__bookmark
      .other__bookmark--title その他
      - if @others.present?
        %ul.other__list
          - @others.each do |bookmark_other|
            .other__list--all
              %li.other__list--bookmark
                = icon('fas', 'bookmark fa-2x')
            = link_to other_path(bookmark_other.id) do
              .other__list--nav
                %li.other__list--name
                  = bookmark_other.name
                %li.other__list--date 
                  = "作成日：#{bookmark_other.created_at.strftime('%Y/%m/%d')}"
      - else
        .other__notice bookmarkの登録はありません
