.main-document
  .main-document__header
    .main-document__header--title
      .title__name 保存ファイル一覧

  .main-document__container
    .main-document__container--left
      .left__title
        .left__title--name 見積書
      .left__box

        
        -# %ul.quotation__list{data: { model_name: document.class.name.underscore, update_url: document_sort_path(document)}}
        %ul.quotation__list{"data-model_name": "document.class.name.underscore", "data-update_url": "document_sort_path(document)"}
          - @quotations.each do |quotation|
            .quotation__list--all
              %li.quotation__list--bookmark
                - if !Bookmark.exists?(user_id:current_user.id, document_id: quotation.id)
                  = link_to document_add_path(quotation), class: "bookmark__icon", method: :post do
                    = icon('far', 'bookmark fa-2x')
                - else
                  = link_to document_add_path(quotation), class: "bookmark__icon", method: :delete do
                    = icon('fas', 'bookmark fa-2x')
              = link_to document_path(quotation.id) do
                .quotation__list--nav
                  %li.quotation__list--name
                    = quotation.name
                  %li.quotation__list--date 
                    = "作成日：#{quotation.created_at.strftime('%Y/%m/%d')}"

    .main-document__container--center
      .center__title
        .center__title--name 議事録
      .center__box
        %ul.minutes__list
          - @minutes.each do |minute|
            .minutes__list--all
              %li.minutes__list--bookmark
                - if !Bookmark.exists?(user_id:current_user.id, document_id: minute.id)
                  = link_to document_add_path(minute), class: "bookmark__icon", method: :post do
                    = icon('far', 'bookmark fa-2x')
                - else
                  = link_to document_add_path(minute), class: "bookmark__icon", method: :delete do
                    = icon('fas', 'bookmark fa-2x')
              = link_to document_path(minute.id) do
                .minutes__list--nav
                  %li.minutes__list--name
                    = minute.name
                  %li.minutes__list--date 
                    = "作成日：#{minute.created_at.strftime('%Y/%m/%d')}"

    .main-document__container--right
      .right__title
        .right__title--name その他
      .right__box
        %ul.other__list
          - @others.each do |other|
            .other__list--all
              %li.other__list--bookmark
                - if !Bookmark.exists?(user_id:current_user.id, document_id: other.id)
                  = link_to document_add_path(other), class: "bookmark__icon", method: :post do
                    = icon('far', 'bookmark fa-2x')
                - else
                  = link_to document_add_path(other), class: "bookmark__icon", method: :delete do
                    = icon('fas', 'bookmark fa-2x')
              = link_to document_path(other.id) do
                .other__list--nav
                  %li.other__list--name
                    = other.name
                  %li.other__list--date 
                    = "作成日：#{other.created_at.strftime('%Y/%m/%d')}"

  .main-document__footer
    .main-document__footer--upload
      = link_to "file_upload", new_document_path, class: "upload"
