.side-bar

  .side-bar__header
    .side-bar__header--title
      = link_to new_client_path do
        .title__name クライアント登録
    -# .side-bar__header--show
    -#   = link_to "#" do
    -#     .show__name クライアントの一覧表示
  -# ページリンクで最終更新日を表示させたい

  .side-bar__body
    = link_to root_path do
      .side-bar__body--title クライアントリスト
    .side-bar__body--list
      %ul.client__list
        - @clients.each do |client|
          %li.list__info
            .list__info--name{"data-id": client.id}
              = client.company_name
            .list__info--show
              = link_to "詳細", client_path(client), class: "show-link"
            .list__info--delite
              = link_to client_path(client), method: :delete, data: {confirm: "本当に削除しますか？"} do
                = icon('fas', 'trash-alt')
