.document__container

  .document__container--left
    .file__container
      .file__container--document
        = image_tag(@document.document_url, alt: "画像が表示できませんでした。")

  .document__container--right
    .nav__container
      .nav__container--link 編集はこちら
      .link__icon
        = link_to edit_document_path, id: "link__icon" do
          = icon('fas', 'pen')
      .nav__container--link 削除はこちら
      .link__icon
        = link_to document_path, id: "link__icon", method: :delete do
          = icon('fas', 'trash-alt')
    .text__container
      .text__container--block
        .block__label 書類名
        .block__text
          = @document.name
      .text__container--block
        .block__label クライアント名
        .block__text
          = @document.client.company_name
      .text__container--block
        .block__label 作成日
        .block__text
          = @document.created_at.strftime('%Y/%m/%d')
      .text__container--block
        .block__label コメントする
        = form_with(model: [@document, @comment], id: "document__comment", local: true) do |f|
          = f.text_area :comment, placeholder: "（例）4月17日に◯◯へ提出予定", class: "wide__area"
          = f.submit "SEND", class: "submit-btn"
      .text__container--block
        .block__label コメント一覧
        .block__text--wide
          %ul.comment__list
          - if @comments
            - @comments.each do |comment|
              .comment__list--all
                %li.comment__list--text
                  = comment.comment
                %li.comment__list--date
                  = comment.created_at.strftime('%Y/%m/%d')
