.wrapper__upload--form

  .file-upload__form
    .file-upload__form--header
      .header__title
        %h2.header__title--name 議事録のアップロード

    .file-upload__form--container
      .form__box
        = form_with(model: @minute, local: true) do |f|
          .field
            = f.label :name, "ファイル名", class: "field__name"
            = f.text_field :name, autofocus: true, autocomplete: "name", class: "field__size"
          .field
            = f.label :client_id, "クライアント名", class: "field__name"
            = f.collection_select(:client_id, @clients, :id, :company_name, {prompt: "---"}, class: "field__size")
          .field
            = f.label :document, "見積書をアップロード", class: "field__name"
            = f.fields_for :documents do |document|
              = document.file_field :document, class: "dropzone", id: "upload-dropzone"

          .actions
            = f.submit "登   録", class: "submit-btn"
